#change-password-container > form {
    min-height: calc(100vh - var(--status-bar-space) - var(--auth-header-height) - var(--auth-header-margin-bottom) - 60px);
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: column;
}