.slider-default-input-container > h4 {
    font-weight: 500;
    margin-bottom: 8px;
}

.slider-default-input {
    display: flex;
    align-items: center;
    border: none;
    padding: 0px 15px;
    width: calc(100% - 30px);
    border-radius: 10px;
    background-color: var(--color-2);
    height: 60px;
    font-size: 1.05rem;
}

.slider-default-input::-webkit-outer-spin-button,
.slider-default-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: none;
}

.slider-default-input[type=number] {
    -moz-appearance: textfield;
}
